/* 
    Document   : default
    Created on : 25-Sep-2010, 08:33:58
    Author     : phil
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
body {
    font: 0.8em/1em "trebuchet MS", arial, sans-serif;
    color: #777;
}

h1 {
    font-size: 1.6em;
    margin: 30px 0;
    padding: 0;
}

h2 {
    font-size: 1.4em;
    padding: 0 0 6px 0;
    margin: 0;
    border-bottom: solid 1px #ccc;
}

h3 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

form {
    padding: 0 0 30px 0;
}

#wrap {
    width: 800px;
    margin: 0 auto;
}
*/

#fileSelect {
    display: none;
    margin-top: 30px;
    position: relative;
}

#fileDrop {
    margin-top: 30px;
    margin-right: 30px;
    width: 260px;
    height: 200px;
    border: dashed 8px #bce8f1;
    background-color: #d9edf7;
    color: #3a87ad;
}

    #fileDrop p {
        text-align: center;
        padding: 95px 0 0 0;
        font-size: 1.6em;
    }

#files {
    margin-top: 30px;
    background: #fefefe;
    min-height: 30px;
}

#fileDrop,
#files {
    -moz-box-shadow: 0 0 20px #ccc;
}

#fileList {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 0px;
}

    #fileList li {
        margin: 0;
        padding-top: 15px;
        overflow: auto;
        position: relative;
    }
/*
#reset {
    color: #fff;
    background-color: #777;
    margin-bottom: 20px;
    padding: 4px 6px;
    text-decoration: none;
    font-weight: bold;
    -moz-border-radius: 6px;
}

#reset:hover {
    color: #333;
}

#upload {
    color: #fff;
    margin-bottom: 20px;
    background-color: #777;
    padding: 4px 6px;
    text-decoration: none;
    font-weight: bold;
    -moz-border-radius: 6px;
}

#upload:hover {
    background-color: #333;
}

*/

.thumbnail {
    height: 180px;
    vertical-align: middle;
}

.loader {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: orange;
}

.loadingIndicator {
    width: 0%;
    height: 2px;
    background-color: #c09853;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*
.imagePreview {
    width: 300px;
    padding: 10px;
    border: solid 1px #ccc;
    position: absolute;
    background-color: white;
}

    .imagePreview img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
*/
