<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta bins *must* come first in the head; any other head content must come *after* these bins -->

        <meta name="description" content="Upload files and make them available for your friends. Think of it as Pastebin for files. Registration is not required.">
        <meta name="author" content="Espen Braastad">
        <link rel="icon" href="{{ .Ctx.Baseurl }}/static/img/favicon.png">

        <title>Filebin</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/font-awesome.css"/>
    </head>

    <body>
        <div class="container-fluid">

            <!-- Bin meta information -->
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="display-1">
                        Filebin dashboard
                    </h1>
                </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <div class="card card-block card-success card-inverse">
                  <h4 class="card-title">{{ .Data.Bins | len }}</h4>
                  <p class="card-text">
                     Bin count
                  </p>
                </div>
              </div>

              <div class="col-md-2">
                <div class="card card-block card-warning card-inverse">
                  <h4 class="card-title">{{ .Data.Files }}</h4>
                  <p class="card-text">
                     File count
                  </p>
                </div>
              </div>

              <div class="col-md-2">
                <div class="card card-block card-info card-inverse">
                  <h4 class="card-title">{{ .Data.BytesReadable }}</h4>
                  <p class="card-text">
                     Storage size
                  </p>
                </div>
              </div>
            </div>

            <!-- Existing files in the bin -->
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>Bin</th>
                        <th>Last updated</th>
                        <th>Files</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>

                    {{ range $index, $value := .Data.Bins }}
                    <tr>
                        <td><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}">{{ .Bin }}</a></td>
                        <td>{{ .UpdatedReadable }}</td>
                        <td>{{ .Files | len }}</td>
                        <td>{{ .BytesReadable }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </body>
</html>
