<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta bins *must* come first in the head; any other head content must come *after* these bins -->

        <meta name="description" content="Upload files and make them available for your friends. Think of it as Pastebin for files. Registration is not required.">
        <meta name="author" content="Espen Braastad">
        <link rel="icon" href="{{ .Ctx.Baseurl }}/static/img/favicon.png">

        <title>Filebin</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/font-awesome.css"/>
        <script src="{{ .Ctx.Baseurl }}/static/js/sorttable.js"></script>
    </head>

    <body>
        <div class="container">

            <!-- Bin meta information -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right text-muted"><small>Uptime: {{ .Data.Uptime }}</small></div>
                    <div class="text-left">
                        <h1 class="display-2">
                            Filebin dashboard
                        </h1>
                    </div>
                </div>
            </div>

            <h6 class="text-muted">Last logins</h6>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <tbody>
                    {{ range $index, $value := .Data.Logins }}
<tr>
                      <td class="text-muted text-truncate">
                        <small><em>{{ .TimestampReadable }}</em></small>
                      </td>
                      <td class="text-muted">
                        <small>{{ .Text }}</small>
                      </td>
</tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="alert alert-info">
                  <div class="text-xs-center"><strong>{{ .Data.FilesReadable }}</strong></div>
                  <div class="text-xs-center">Total file count</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-info">
                  <div class="text-xs-center"><strong>{{ .Data.BinsReadable }}</strong></div>
                  <div class="text-xs-center">Total bin count</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-info">
                  <div class="text-xs-center"><strong>{{ .Data.BytesReadable }}</strong></div>
                  <div class="text-xs-center">Storage size</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="alert alert-warning">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "current-upload" }}</strong></div>
                  <div class="text-xs-center">File uploads in progress</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-warning">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "current-file-download" }}</strong></div>
                  <div class="text-xs-center">File downloads in progress</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-warning">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "current-archive-download" }}</strong></div>
                  <div class="text-xs-center">Archive downloads in progress</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="alert alert-success">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "total-upload" }}</strong></div>
                  <div class="text-xs-center">File uploads since startup</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-success">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "total-file-download" }}</strong></div>
                  <div class="text-xs-center">File downloads since startup</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-success">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "total-archive-download" }}</strong></div>
                  <div class="text-xs-center">Archive downloads since startup</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="alert alert-danger">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "total-file-delete" }}</strong></div>
                  <div class="text-xs-center">Files deleted since startup</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-danger">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "total-bin-delete" }}</strong></div>
                  <div class="text-xs-center">Bins deleted since startup</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-info">
                  <div class="text-xs-center"><strong>{{ index .Data.UptimeReadable }}</strong></div>
                  <div class="text-xs-center">Service start</div>
                </div>
              </div>
            </div>

            <!-- Existing files in the bin -->
            <table class="sortable table">
                <thead class="thead-default">
                    <tr>
                        <th>Bin</th>
                        <th>Last updated</th>
                        <th>Files</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>

                    {{ range $index, $value := .Data.Bins }}
                    {{ if .Expired }}
                    <tr class="table-warning">
                    {{ else }}
                    <tr>
                    {{ end }}
                        <td><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}">{{ .Bin }}</a></td>
                        <td sorttable_customkey="{{ .UpdatedAt }}">{{ .UpdatedReadable }}</td>
                        <td>{{ .Files | len }}</td>
                        <td sorttable_customkey="{{ .Bytes }}">{{ .BytesReadable }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </body>
</html>
