<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta bins *must* come first in the head; any other head content must come *after* these bins -->

        <meta name="description" content="Upload files and make them available for your friends. Think of it as Pastebin for files. Registration is not required.">
        <meta name="author" content="Espen Braastad">
        <link rel="icon" href="{{ .Ctx.Baseurl }}/static/img/favicon.png">

        <title>Filebin administrator</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/font-awesome.css"/>
        <script src="{{ .Ctx.Baseurl }}/static/js/sorttable.js"></script>
        <script src="{{ .Ctx.Baseurl }}/static/js/jquery.js"></script>
        <script src="{{ .Ctx.Baseurl }}/static/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <p class="lead">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin/events">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin/bins">Bins</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="{{ .Ctx.Baseurl }}/admin/counters">Counters</a>
                    </li>
                    {{ if not .Cfg.HotLinking }}
                       <li class="nav-item">
                         <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin/tokens">Tokens</a>
                       </li>
                    {{ end }}
                  </ul>
                </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="text-right text-muted">
                  <small>
                    Current time: {{ .Data.Now.Format "2006-01-02 15:04:05 UTC" }}<br/>
                    Uptime: {{ .Data.Uptime }}
                  </small>
                </div>
              </div>
            </div>

            <br/>

            <p class="lead">Showing {{ .Data.Counters|len }} system counters.</p>

            <div class="row">
              <div class="col-md-12">
                <table class="sortable table table-sm">
                  <thead class="thead-default">
                    <tr>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range $index, $value := .Data.Counters }}
                        <td>
                          <code>{{ $index }}</code>
                        </td>
                        <td>
                          {{ $value }}
                        </td>
                      </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
