<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta bins *must* come first in the head; any other head content must come *after* these bins -->

        <meta name="description" content="Upload files and make them available for your friends. Think of it as Pastebin for files. Registration is not required.">
        <meta name="author" content="Espen Braastad">
        <link rel="icon" href="{{ .Ctx.Baseurl }}/static/img/favicon.png">

        <title>Filebin administrator</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/font-awesome.css"/>
        <script src="{{ .Ctx.Baseurl }}/static/js/sorttable.js"></script>
        <script src="{{ .Ctx.Baseurl }}/static/js/jquery.js"></script>
        <script src="{{ .Ctx.Baseurl }}/static/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <p class="lead">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="{{ .Ctx.Baseurl }}/admin">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin/events">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin/bins">Bins</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin/counters">Counters</a>
                    </li>
                  </ul>
                </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="text-right text-muted">
                  <small>
                    Current time: {{ .Data.Now.Format "2006-01-02 15:04:05 UTC" }}<br/>
                    Uptime: {{ .Data.Uptime }}
                  </small>
                </div>
              </div>
            </div>

            <br/>

            <h6 class="text-muted">Statistics
              <a href="#" data-toggle="collapse" data-target="#collapseStats" aria-exanded="false" aria-controls="collapseStats"><i class="fa fa-toggle-down"></i></a>
            </h6>

            <div class="row">
              <div class="col-md-4">
                <div class="alert alert-warning">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "current-upload" }}</strong></div>
                  <div class="text-xs-center">File uploads in progress</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-warning">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "current-file-download" }}</strong></div>
                  <div class="text-xs-center">File downloads in progress</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-warning">
                  <div class="text-xs-center"><strong>{{ index .Data.Stats "current-archive-download" }}</strong></div>
                  <div class="text-xs-center">Archive downloads in progress</div>
                </div>
              </div>
            </div>

            <div class="collapse" id="collapseStats">
              <div class="row">
                <div class="col-md-4">
                  <div class="alert alert-info">
                    <div class="text-xs-center"><strong>{{ .Data.FilesReadable }}</strong></div>
                    <div class="text-xs-center">Total file count</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="alert alert-info">
                    <div class="text-xs-center"><strong>{{ .Data.BinsReadable }}</strong></div>
                    <div class="text-xs-center">Total bin count</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="alert alert-info">
                    <div class="text-xs-center"><strong>{{ .Data.BytesReadable }}</strong></div>
                    <div class="text-xs-center">Storage size</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="alert alert-success">
                    <div class="text-xs-center"><strong>{{ index .Data.Stats "total-upload" }}</strong></div>
                    <div class="text-xs-center">File uploads since startup</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="alert alert-success">
                    <div class="text-xs-center"><strong>{{ index .Data.Stats "total-file-download" }}</strong></div>
                    <div class="text-xs-center">File downloads since startup</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="alert alert-success">
                    <div class="text-xs-center"><strong>{{ index .Data.Stats "total-archive-download" }}</strong></div>
                    <div class="text-xs-center">Archive downloads since startup</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="alert alert-danger">
                    <div class="text-xs-center"><strong>{{ index .Data.Stats "total-file-delete" }}</strong></div>
                    <div class="text-xs-center">Files deleted since startup</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="alert alert-danger">
                    <div class="text-xs-center"><strong>{{ index .Data.Stats "total-bin-delete" }}</strong></div>
                    <div class="text-xs-center">Bins deleted since startup</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="alert alert-info">
                    <div class="text-xs-center"><strong>{{ index .Data.UptimeReadable }}</strong></div>
                    <div class="text-xs-center">Service start</div>
                  </div>
                </div>
              </div>
            </div>

            <h6 class="text-muted">Recent administrator activity
              {{ if gt (.Data.Logins | len) 0 }}
                <a href="#" data-toggle="collapse" data-target="#collapseLogins" aria-exanded="false" aria-controls="collapseLogins">
                  <i class="fa fa-toggle-down"></i>
                </a>
              {{ end }}
            </h6>
            <div class="row">
              <div class="col-md-12">
                {{ if eq (.Data.Logins | len) 0 }}
                  <p>No recorded administrator activity.</p>
                {{ else }}
                  <ul class="list-inline">
                    {{ range $index, $value := .Data.Logins }}
                      <li class="list-inline-item">
                        {{ .Source }}
                        <span class="text-muted text-truncate">
                          <small><em>({{ .DurationReadable }})</em></small>
                        </span>
                      </li>
                    {{ end }}
                  </ul>
                {{ end }}
              </div>
            </div>

            <div class="collapse" id="collapseLogins">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-sm">
                    <thead>
                      <th>Time</th>
                      <th>Tags</th>
                      <th>Client</th>
                      <th>User-Agent</th>
                    </thead>
                    <tbody>
                      {{ range $index, $value := .Data.Logins }}
                        <tr>
                          <td>
                            <small>{{ .StartTime.Format "2006-01-02 15:04:05 UTC" }}</small>
                          </td>
                          <td>
                            <small>
                              {{ .Tags }}
                            </small>
                          </td>
                          <td>
                            <small>{{ .Source }}</small>
                          </td>
                          <td>
                            <small>{{ .Text }}</small>
                          </td>
                        </tr>
                      {{ end }}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <h6 class="text-muted">On-going transfers <span class="badge badge-pill badge-dark">{{ .Data.EventsInProgress | len }}</span></h6>
            <div class="row">
              <div class="col-md-12">
                {{ if eq (.Data.EventsInProgress | len) 0 }}
                {{ else }}
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Time</th>
                        <th>Tags</th>
                        <th>Client</th>
                        <th>Bin</th>
                        <th>Filename</th>
                        <th>Information</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{ range $index, $value := .Data.EventsInProgress }}
                        <tr>
                          <td>
                            <span class="text text-info"><i class="fa fa-spinner fa-spin"></i></span>
                          </td>
                          <td class="text-muted">
                            <small><em>{{ .DurationReadable }}</em></small>
                          </td>
<!--
                            <small>{{ .StartTime.Format "2006-01-02 15:04:05 UTC" }}</small>
-->
                          <td class="text-muted">
                            <small>
                              {{ range $_, $tag := .Tags }}
                                {{ if eq $tag "upload" }}
                                  <span class="badge badge-pill badge-success">
                                {{ else }}
                                  {{ if eq $tag "download" }}
                                    <span class="badge badge-pill badge-primary">
                                  {{ else }}
                                    <span class="badge badge-pill badge-dark">
                                  {{ end }}
                                {{ end }}
                                {{ $tag }}</span>
                              {{ end }}
                            </small>
                          </td>
                          <td class="text-muted">
                            <small>{{ .Source }}</small>
                          </td>
                          <td class="text-muted">
                            <small><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}">{{ .Bin }}</a></small>
                          </td>
                          <td class="text-muted">
                            <small><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}/{{ .Filename }}">{{ .Filename }}</a></small>
                          </td>
                          <td class="text-muted">
                            <small>{{ .Text }}</small>
                          </td>
                        </tr>
                      {{ end }}
                    </tbody>
                  </table>
                {{ end }}
              </div>
            </div>


            <h6 class="text-muted">New file uploads <span class="badge badge-pill badge-dark">{{ .Data.Uploads | len }}</span></h6>
            <div class="row">
              <div class="col-md-12">
                {{ if eq (.Data.Uploads | len) 0 }}
                {{ else }}
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Time</th>
                        <th>Client</th>
                        <th>Bin</th>
                        <th>Filename</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{ range $index, $value := .Data.Uploads }}
                        <tr>
                          <td>
                            <span class="text text-success"><i class="fa fa-check"></i></span>
                          </td>
                          <td class="text-muted text-truncate">
                            <small><em>{{ .DurationReadable }}</em></small>
                          </td>
                          <td class="text-muted">
                            <small>{{ .Source }}</small>
                          </td>
                          <td class="text-muted">
                            <small><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}">{{ .Bin }}</a></small>
                          </td>
                          <td class="text-muted">
                            <small><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}/{{ .Filename }}">{{ .Filename }}</a></small>
                          </td>
                        </tr>
                      {{ end }}
                    </tbody>
                  </table>
                {{ end }}
              </div>
            </div>

            <h6 class="text-muted">New events
            {{ if gt (.Data.Events | len) 0 }}
              <a href="#" data-toggle="collapse" data-target="#collapseEvents" aria-exanded="false" aria-controls="collapseEvents">
            {{ end }}
            <span class="badge badge-pill badge-dark">{{ .Data.Events | len }}</span>
            {{ if gt (.Data.Events | len) 0 }}
              </a>
            {{ end }}
            </h6>

            <div class="collapse" id="collapseEvents">
              <div class="row">
                <div class="col-md-12">
                  {{ if eq (.Data.Events | len) 0 }}
                    <p>No new events.</p>
                  {{ else }}
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Time</th>
                          <th>Duration</th>
                          <th>Tags</th>
                          <th>Client</th>
                          <th>Bin</th>
                          <th>Filename</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $index, $value := .Data.Events }}
                          {{ if eq .Status 0 }}
                          <tr>
                          {{ else }}
                          <tr class="table-warning">
                          {{ end }}
                            <td>
                              {{ if .IsDone }}
                                {{ if eq .Status 0 }}
                                  <span class="text text-success"><i class="fa fa-fw fa-check"></i></span>
                                {{ else }}
                                  <span class="text text-warning"><i class="fa fa-fw fa-exclamation"></i></span>
                                {{ end }}
                              {{ else }}
                                <span class="text text-info"><i class="fa fa-fw fa-spinner fa-spin"></i></span>
                              {{ end }}
                            </td>
                            <td class="text-muted text-truncate">
                              <small><em>{{ .DurationReadable }}</em></small>
                            </td>
                            <td class="text-muted text-truncate">
                              <small>
                                {{ .Duration }}
                              </small>
                            </td>
<!--
                            <td class="text-muted text-truncate">
                              <small>{{ .StartTime.Format "2006-01-02 15:04:05 UTC" }}</small>
                            </td>
-->
                            <td class="text-muted">
                              <small>
                                {{ range $_, $tag := .Tags }}
                                  {{ if eq $tag "admin" }}
                                    <span class="badge badge-pill badge-danger">
                                  {{ else }}
                                    {{ if eq $tag "upload" }}
                                      <span class="badge badge-pill badge-success">
                                    {{ else }}
                                      {{ if eq $tag "download" }}
                                        <span class="badge badge-pill badge-primary">
                                      {{ else }}
                                        <span class="badge badge-pill badge-dark">
                                      {{ end }}
                                    {{ end }}
                                  {{ end }}
                                  {{ $tag }}</span>
                                {{ end }}
                              </small>
                            </td>
                            <td class="text-muted">
                              <small>{{ .Source }}</small>
                            </td>
                            <td class="text-muted">
                              <small><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}">{{ .Bin }}</a></small>
                            </td>
                            <td class="text-muted">
                              <small><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}/{{ .Filename }}">{{ .Filename }}</a></small>
                            </td>
                          </tr>
                        {{ end }}
                      </tbody>
                    </table>
                  {{ end }}
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
