{% include "header.html" %}

  <div class="hero-unit">
    <h1>Request deletion</h1>
  </div>

  {% if submitted == 1%}
    <div class="alert alert-success">
      <strong>Thank you!</strong> Your request has been submitted, and will be handled as soon as possible.
    </div>
    <a href="/{{ tag }}">Go back</a>
  {% elif submitted == -1%}
    <div class="alert alert-error">
      <strong>Ops!</strong> We failed to receive your request. Please try again later.
    </div>
    <a href="/{{ tag }}">Go back</a>
  {% else %}
    <p>You are about to request deletion of the tag <a href="/{{ tag }}">{{ tag }}</a>. Please submit your reason below to why the tag should be deleted.</p>
    <form class="form-horizontal" method="POST" action="">
      <fieldset>
        <div class="control-group">
          <textarea name="reason" rows="3" cols="40" placeholder="This tag should be deleted because ..."></textarea>
        </div>
        <div class="control-group">
          <input type="submit" class="btn btn-danger btn-large" value="Send request!"/> <a class="btn btn-primary btn-large" href="/{{ tag }}">Cancel</a>
        </div>
      </fieldset>
    </form>
  {% endif %}

{% include "footer.html" %}
