<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta bins *must* come first in the head; any other head content must come *after* these bins -->

        <meta name="description" content="Upload files and make them available for your friends. Think of it as Pastebin for files. Registration is not required.">
        <meta name="author" content="Espen Braastad">
        <link rel="icon" href="{{ .Ctx.Baseurl }}/static/img/favicon.png">

        <title>Filebin administrator</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/font-awesome.css"/>
        <script src="{{ .Ctx.Baseurl }}/static/js/sorttable.js"></script>
        <script src="{{ .Ctx.Baseurl }}/static/js/jquery.js"></script>
        <script src="{{ .Ctx.Baseurl }}/static/bootstrap/js/bootstrap.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <p class="lead">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="{{ .Ctx.Baseurl }}/admin/events">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin/bins">Bins</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ .Ctx.Baseurl }}/admin/counters">Counters</a>
                    </li>
                  </ul>
                </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="text-right text-muted">
                  <small>
                    Current time: {{ .Data.Now.Format "2006-01-02 15:04:05 UTC" }}<br/>
                    Uptime: {{ .Data.Uptime }}
                  </small>
                </div>
              </div>
            </div>

            <br/>

            <div class="row">
              <div class="col-md-12">
                <table class="table table-sm">
                  <thead class="thead-default">
                    <tr>
                      <th></th>
                      <th>Time</th>
                      <th>Duration</th>
                      <th>Tags</th>
                      <th>Client</th>
                      <th>Bin</th>
                      <th>Filename</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range $index, $value := .Data.Events }}
                      {{ if eq .Status 0 }}
                      <tr>
                      {{ else }}
                      <tr class="table-warning">
                      {{ end }}
                        <td>
                          {{ if .IsDone }}
                            {{ if eq .Status 0 }}
                              <span class="text text-success"><i class="fa fa-fw fa-check"></i></span>
                            {{ else }}
                              <span class="text text-warning"><i class="fa fa-fw fa-exclamation"></i></span>
                            {{ end }}

                          {{ else }}
                            <span class="text text-info"><i class="fa fa-fw fa-spinner fa-spin"></i></span>
                          {{ end }}
                        </td>
                        <td class="text-muted text-truncate">
                          <small><em>{{ .DurationReadable }}</em></small>
                        </td>
                        <td class="text-muted text-truncate">
                          <small>
                            {{ .Duration }}
                          </small>
<!--
                          <small>{{ .StartTime.Format "2006-01-02 15:04:05 UTC" }}</small>
-->
                        </td>
                        <td class="text-muted">
                          <small>
                            {{ range $_, $tag := .Tags }}
                              {{ if eq $tag "admin" }}
                                <span class="label label-danger">
                              {{ else }}
                                {{ if eq $tag "upload" }}
                                  <span class="label label-success">
                                {{ else }}
                                  {{ if eq $tag "download" }}
                                    <span class="label label-primary">
                                  {{ else }}
                                    <span class="label label-default">
                                  {{ end }}
                                {{ end }}
                              {{ end }}
                              {{ $tag }}</span>
                            {{ end }}
                          </small>
                        </td>
                        <td class="text-muted">
                          <small>{{ .Source }}</small>
                        </td>
                        <td class="text-muted">
                          <small><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}">{{ .Bin }}</a></small>
                        </td>
                        <td class="text-muted">
                          <small><a href="{{ $.Ctx.Baseurl }}/{{ .Bin }}/{{ .Filename }}">{{ .Filename }}</a></small>
                        </td>
                      </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
