<div class="pull-left">
  {% if tag %}
    <a class="btn btn-small btn-info" href="/{{ tag }}/playlist">
      <i class="icon-list icon-white"></i> Playlist
    </a>
    <a class="btn btn-small btn-info" href="/{{ tag }}/json">
      <i class="icon-wrench icon-white"></i> JSON
    </a>
  {% endif %}
</div>

<div class="pull-right">
  {% if tag %}
    <a class="btn btn-small btn-danger" href="/report/{{ tag }}">
      <i class="icon-thumbs-down icon-white"></i> Report
    </a>
  {% endif %}

  <a class="btn btn-small btn-info" href="/about">
    <i class="icon-info-sign icon-white"></i> About
  </a>
</div>
