{% include "header.html" %}

<div class="hero-unit">
  <h1>Hello,</h1>
  <p>This website enables you to store files online for a limited period of time. Common usage scenarios are photo and document sharing between your own computers, friends, colleagues or others. No registration is required.</p>
  <p>What do you want to do?</p>
  <p>
    <a class="btn btn-primary btn-large" href="/upload">
      I want to upload files
    </a>

    <a class="btn btn-success btn-large" href="/download">
      I want to download files
    </a>
  </p>
</div>

{% include "footer_nav.html" %}

{% include "footer.html" %}

