{% include "header.html" %}

{% include "overview_nav.html" %}

{% if tags|count == 0 %}
  <p>No tags found</p>
{% else %}
  <table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Files</th>
      <th>Downloads</th>
      <th>Size</th>
      <th>Bandwidth</th>
      <th>Status</th>
      <th>Block</th>
    </tr>
  </thead>
  {% for tag in tags | sort %}
          <form method="POST" action="">
    <tr>
        <td><a href="/{{ tag }}">{{ tag }}</a></td>
        <td>{{ tags[tag]['files'] }}</td>
        <td>{{ tags[tag]['downloads'] }}</td>
        <td>{{ tags[tag]['size'] }} MB</td>
        <td>{{ tags[tag]['bandwidth'] }} MB</td>
        <td>
            {% if tags[tag]['conf']['permission'] == 'rw' %}
                 <span class="badge badge-warning"><i class="icon-upload icon-white"></i> <i class="icon-download icon-white"></i></span>
            {% else %}
                 <span class="badge badge-success"><i class="icon-download icon-white"></i></span>
            {% endif %}
            {% if tags[tag]['conf']['expose'] == 'private' %}
                 <span class="badge badge-success"><i class="icon-user icon-white"></i></span>
            {% else %}
                 <span class="badge badge-warning"><i class="icon-globe icon-white"></i></span>
            {% endif %}
            {% if tags[tag]['deletion'] %}
                 <span class="badge badge-important"><i class="icon-lock icon-white"></i> ?</span>
            {% endif %}
            {% if tags[tag]['conf']['blocked'] %}
                 <span class="badge badge-important"><i class="icon-lock icon-white"></i></span>
            {% endif %}
        </td>
        <td>
          <input type="hidden" name="tag" value="{{ tag }}"/>
          {% if tags[tag]['conf']['blocked'] %}
            <input type="hidden" name="action" value="unblock"/>
            <input type="submit" class="btn btn-primary btn-small" value="Unblock"/>
          {% else %}
            <input type="hidden" name="action" value="block"/>
            <input type="submit" class="btn btn-danger btn-small" value="Block"/>
          {% endif %}
        </td>
    </tr>
    </form>
  {% endfor %}
  </table>
{% endif %}

{% include "footer.html" %}

