{% include "header.html" %}

<div class="hero-unit">
  <h1>Log overview</h1>
</div>

{% if log|count == 0 %}
  <p>No log entries found</p>
{% else %}
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Time</th>
      <th>Client</th>
      <th>Description</th>
      <th>Links</th>
    </tr>
  </thead>
  {% for l in log %}
    <tr>
      <td>{{ l.time }} UTC</td>
      <td>{{ l.client }}</td>
      <td>{{ l.description }}</td>
      <td>
        <ul>
        {% if l.tag %}
           <li>T: <a href="/{{ l.tag }}">{{ l.tag }}</a></li>
        {% endif %}
        {% if l.filename %}
           <li>F: <a href="/{{ l.tag }}/file/{{ l.filename }}">{{ l.filename }}</a></li>
        {% endif %}
        {% if l.referer %}
           <li>R: {{ l.referer }}</li>
        {% endif %}
        {% if l.useragent %}
           <li>U: {{ l.useragent }}</li>
        {% endif %}
        </ul>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}

{% include "footer.html" %}

