{% include "header.html" %}

{% include "overview_nav.html" %}

{% if files|count == 0 %}
  <p>No tags found</p>
{% else %}
  {% for tag in files | sort %}
    {% if files[tag]|count > 0 %}
      <h2>{{ tag }}</h2>
      <p>{{ files[tag]|count }} files. <a href="/{{ tag }}">Go to tag</a>.

      <div class="row">
        <div class="span12">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th class="span3">File name</th>
                <th class="span2">File type</th>
                <th class="span1">Downloads</th>
                <th class="span2">File size</th>
                <th class="span2">Bandwidth</th>
                <th class="span2">Uploaded</th>
              </tr>
            </thead>
            <tr>
               </tr>
                   {% for f in files[tag] %}
                       <tr>
                         <td class="span3"><a href="/{{ tag }}/file/{{ f.filename }}">{{ f.filename }}</a></td>
                         <td class="span2">{{ f.mimetype }}</td>
                         <td class="span1">{{ f.downloads }}</td>
                         <td class="span2">{{ f.size }} MB</td>
                         <td class="span2">{{ f.bandwidth }} MB</td>
                         <td class="span2">{{ f.uploaded_iso }}</td>
                       </tr>
                   {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% include "footer.html" %}

