{{ define "newTag" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Filebin</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/upload.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/custom.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/font-awesome.css"/>

        <script src="{{ .Ctx.Baseurl }}/static/js/showhide.js"></script>
        <script src="{{ .Ctx.Baseurl }}/static/js/upload.js"></script>
        <script>
            window.onload = function () {
                if (typeof FileReader == "undefined") alert ("Your browser \
                    is not supported. You will need to update to a modern \
                    browser with File API support to upload files.");
                var fileCount = document.getElementById("fileCount");
                var fileList = document.getElementById("fileList");
                var fileDrop = document.body;
                var fileField = document.getElementById("fileField");
                var tag = "{{ .Data.Tag }}";
                var url = "{{ .Ctx.Baseurl }}/";
                FileAPI = new FileAPI(
                    fileCount,
                    fileList,
                    fileDrop,
                    fileField,
                    tag,
                    url
                );
                FileAPI.init();
                // Automatically start upload when using the drop zone
                fileDrop.ondrop = FileAPI.uploadQueue;
                // Automatically start upload when selecting files
                fileField.addEventListener("change", FileAPI.uploadQueue)
            }
        </script>
    </head>

    <body id="fileDrop">
        <div class="container">

            <!-- Tag meta information -->
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="display-4">
                        Filebin
                    </h1>
                </div>
            </div>

            <!-- Only show the howto if there are no files in the tag -->
            <p class="lead">
                Convenient file sharing on the web, without
                registration. Simply upload files and share
                the link. The files will expire automatically
                {{ .Data.ExpirationReadable }}.
            </p>
            <p class="lead">
                <strong>1.</strong>
                Click <em>Upload files</em> below, or drag and drop the files
                into this browser window.
            </p>
            <p class="lead">
                <strong>2.</strong>
                Wait until all the file uploads <em>complete</em>.
            </p>
            <p class="lead">
                <strong>3.</strong>
                Distribute <a href="{{ .Ctx.Baseurl }}/{{ .Data.Tag }}">this link</a> to share access to the files.
            </p>

            <!-- Menu -->
            <p>
                <div class="fileUpload btn btn-primary">
                    <span><i class="fa fa-cloud-upload"></i> Upload files</span>
                    <input type="file" class="upload" id="fileField"/ multiple>
                </div>
            </p>

            <!-- Upload queue -->
            <span id="fileList"></span>

            <!-- Upload status -->
            <div id="fileCount"></div>
        </div>
    </body>
</html>
{{ end }}
