<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Filebin</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="/static/css/upload.css"/>

        <script src="/static/js/showhide.js"></script>
        <script src="/static/js/upload.js"></script>
        <script>
            window.onload = function () {
                if (typeof FileReader == "undefined") alert ("Your browser is not supported. You will need to update to a mo    dern browser with File API support to upload files.");
                var fileCount = document.getElementById("fileCount");
                var fileList = document.body
                var fileDrop = document.getElementById("fileDrop");
                var fileField = document.getElementById("fileField");
                var tag = "{{ .Tag.TagID }}";
                FileAPI = new FileAPI(
                    fileCount,
                    fileList,
                    fileDrop,
                    fileField,
                    tag
                );
                FileAPI.init();
                // Automatically start upload when using the drop zone
                fileDrop.ondrop = FileAPI.uploadQueue;
                //fileField.onkeypress = FileAPI.uploadQueue;
                var reset = document.getElementById("reset");
                reset.onclick = FileAPI.clearList;
                var upload = document.getElementById("upload");
                upload.onclick = FileAPI.uploadQueue;
            }
        </script>
    </head>

    <body id="fileDrop">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="display-4">
                        Filebin
                    </h1>
                </div>
                <div class="col-sm-4">
                    <div align="right">
                        <small class="text-muted">
                             Last updated {{ .LastUpdateReadable }}<br/>
                             Expires {{ .ExpirationReadable }}
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div id="fileCount"></div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
	            <thead class="thead">
                        <!--
                        <th></th>
                        -->
                        <th>Name</th>
                        <th>Size</th>
                        <th>Type</th>
                        <th>Created</th>
	            </thead>
	            <tbody>
                    {{ range $index, $value := .Files }}
                        <tr>
                            <!--
                            <td><span class="glyphicon glyphicon-file" aria-hidden="true"></span></td>
                            -->
                            <td><a href="/{{ .TagID }}/{{ .Filename }}">{{ .Filename }}</a></td>
                            <td>{{ .BytesReadable }}</td>
                            <td>{{ .MIME }}</td>
                            <td>{{ .CreatedReadable }}</td>
                        </tr>
                    {{ end }}
	            <tbody>
                </table>
            </div>

            <div class="small pull-right"><a href="#" id="fileSelect-show" onclick="showHide('fileSelect'); return false;">Upload more files</a></div>
            <div id="fileSelect">
                <form role="form" action="" method="post" enctype="multipart/form-data">
                   <div class="form-group">
                       <input type="file" id="fileField" name="fileField" multiple value="Browse..."/>
                    </div>
                </form>
            
                <div class="form-group">
                   <a id="upload" class="btn btn-primary" href="#" title="Upload all files in list">Upload files</a>
                   <a id="reset" class="btn btn-secondary" href="#" title="Remove all files from list">Clear list</a>
                </div>
            </div>
            
            <div id="files">
                <ul id="fileList"></ul>
            </div>
        </div>
    </body>
</html>
