<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta bins *must* come first in the head; any other head content must come *after* these bins -->

        <meta name="description" content="Upload files and make them available for your friends. Think of it as Pastebin for files. Registration is not required.">
        <meta name="author" content="Espen Braastad">
        <link rel="icon" href="{{ .Ctx.Baseurl }}/static/img/favicon.png">

        <title>Filebin</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/custom.css"/>
        <link rel="stylesheet" href="{{ .Ctx.Baseurl }}/static/css/font-awesome.css"/>
    </head>

    <body>
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-6">
                    <h1 class="display-4">
                        Filebin
                    </h1>
                </div>
                <div class="col-sm-6">
                    <div align="right">
                        <p>
                            <br/>
                            <a class="btn btn-sm btn-secondary" href="{{ .Ctx.Baseurl }}/{{ .Data.Bin }}"><i class="fa fa-angle-left"></i> Back</a>
                        </p>
                    </div>
                </div>
            </div>

            {{ range $index, $value := .Data.Files }}
                {{ $image := .GetLink "albumitem" }}
                {{ $file := .GetLink "file" }}
                {{ if $image }}
                    <figure class="figure">
                        <a href="{{ $file }}">
                            <img src="{{ $image }}" class="figure-img img-fluid" alt="File {{ .Filename }} in bin {{ .Bin }}.">
                        </a>
                        <figcaption class="figure-caption">
                             <div class="pull-left">
                                 {{ .Filename }}
                                 (<a href="{{ $file }}">Original</a>)
                             </div>
                             <div class="pull-right">
                                 {{ if ne .DateTimeString "" }}
                                       {{ .DateTimeString }}
                                 {{ end }}

                                 {{ if .Longitude }} {{ if .Latitude }}
                                     <a href="https://maps.google.com/?q={{ .Latitude }},{{ .Longitude }}" alt="Show location in Google Maps">
                                          <i class="fa fa-lg fa-globe text-muted"></i>
                                     </a>
                                 {{ end }} {{ end }}
                             </div>
                        </figcaption>
                    </figure>
                {{ end }}
            {{ end }}

            {{ if gt (.Data.Files | len) 1 }}
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <div align="right">
                            <p>
                                <a class="btn btn-sm btn-secondary" href="{{ .Ctx.Baseurl }}/{{ .Data.Bin }}"><i class="fa fa-angle-left"></i> Back</a>
                            </p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </body>
</html>
