<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Filebin</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="/static/css/upload.css"/>
        <link rel="stylesheet" href="/static/css/custom.css"/>

        <script src="/static/js/showhide.js"></script>
        <script src="/static/js/upload.js"></script>
        <script>
            window.onload = function () {
                if (typeof FileReader == "undefined") alert ("Your browser is not supported. You will need to update to a mo    dern browser with File API support to upload files.");
                var fileCount = document.getElementById("fileCount");
                var fileList = document.getElementById("fileList");
                var fileDrop = document.body;
                var fileField = document.getElementById("fileField");
                var tag = "{{ .Tag.TagID }}";
                FileAPI = new FileAPI(
                    fileCount,
                    fileList,
                    fileDrop,
                    fileField,
                    tag
                );
                FileAPI.init();
                // Automatically start upload when using the drop zone
                fileDrop.ondrop = FileAPI.uploadQueue;
                // Automatically start upload when selecting files
                fileField.addEventListener("change", FileAPI.uploadQueue)
            }
        </script>
    </head>

    <body id="fileDrop">
        <div class="container-fluid">
            <nav class="navbar navbar-dark bg-inverse" id="fileCountContainer">
                <h5><div align="center" id="fileCount"></div></h5>
            </nav>

            <div class="row">
                <div class="col-sm-6">
                    <h1 class="display-4">
                        Filebin
                    </h1>
                </div>
                <div class="col-sm-6">
                    <div align="right">
                        <small class="text-muted pull-right">
                             {{ if .LastUpdateReadable }}
                                 Last updated {{ .LastUpdateReadable }}.<br/>
                             {{ end }}
                             {{ if .ExpirationReadable }}
                                 Expires {{ .ExpirationReadable }}.
                             {{ end }}
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p class="lead">
                        Convenient file sharing on the web, without
                        registration. Simply upload files and share
                        the link. The files will expire after a while.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p class="lead">
                        Select files to upload below,
                        or drag and drop the files into this browser window.
                    </p>
                    <p align="center">
                        <div class="fileUpload btn btn-primary">
                            <span>Select files</span>
                            <input type="file" class="upload" id="fileField"/ multiple>
                        </div>
                    </p>
                </div>
            </div>

            {{ if .Files }}
                <div class="row">
                    <div class="col-sm-6">
                        <p class="lead">
                            This tag already contains {{ .Files | len }}
                            {{ if eq (.Files | len) 1 }}
                                file.
                            {{ else }}
                                files.
                            {{ end }}
                        </p>
                    </div>
                </div>
            {{ end }}

            <div class="table-responsive">
                <table class="table">
                    {{ if .Files }}
	                <thead class="thead">
                            <th>Filename</th>
                            <th>Size</th>
                            <th class="hidden-md-down">Type</th>
                            <th>Created</th>
	                </thead>
                    {{ end }}
	            <tbody id="fileList">
                        {{ range $index, $value := .Files }}
                            <tr>
                                <td><a href="/{{ .TagID }}/{{ .Filename }}">{{ .Filename }}</a></td>
                                <td>{{ .BytesReadable }}</td>
                                <td class="hidden-md-down">{{ .MIME }}</td>
                                <td>{{ .CreatedReadable }}</td>
                            </tr>
                        {{ end }}
	            <tbody>
                </table>
            </div>
        </div>
    </body>
</html>
