# Example configuration for /etc/systemd/system/filebin.service

[Unit]
Description=Filebin
After=network.target

[Service]
ExecStart=/usr/bin/filebin --filedir /srv/filebin/files --tempdir /srv/filebin/temp --baseurl https://filebin.example.com --port 8080 --cache-invalidation --access-log /var/log/filebin/access.log
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=filebin
PrivateTmp=true
User=filebin
Group=filebin

[Install]
WantedBy=multi-user.target
