{% include "header.html" %}

<div class="jumbotron">
  <h1>About</h1>
  <p>This service is provided without any guarantees.</p>
  <!--
  <p>
    <a class="btn btn-primary btn-large" href="/">
      Front page
    </a>
  </p>
  -->
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Technical limitations</h3>
    <p>There are no practical limitations regarding the size and number of files to upload in each tag. This does not mean that there is unlimited amount of storage available.</p>
    
    <h3>Content limitations</h3>
    <p>Do not upload any files that somehow may be considered illegal. This service may shut down if files considered to be illegal are being distributed.</p>
    
    <h3>Reporting tags</h3>
    <p>If you stumble upon files that you think should not be available through this service, please click at the <i>report</i> link and provide a proper explaination.</p>
  </div>
  
  <div class="col-md-4">
    <h3>Security</h3>
    <p>The files are not being encrypted when stored server side. If you need encryption, you will have to handle the encryption and decryption on the client side using <a href="http://www.truecrypt.org/">Truecrypt</a> or similar software.</p>
  
    <h3>Requirements</h3>
    <p>You will need a browser with <a href="http://www.w3.org/TR/FileAPI/">File API</a> support to upload files using this service. You will be able to download files using any browser.</p>
  </div>
  
  <div class="col-md-4">
    <h3>API features</h3>
    <h4>Uploading files</h4>
    <p>To upload a file, simply issue a POST request to http://{{ host }}/uploader with the headers <i>x-filename</i>, <i>x-size</i> (in bytes), <i>x-tag</i> and <i>x-checksum</i> (md5 checksum) set. The body of the request should contain the contents of the file.</p>
  
    <h4>Listing contents of a tag</h4>
    <p>Tags can be listed in json format at http://{{ host }}/<i>tag</i>?v=json or as a list at http://{{ host }}/<i>tag</i>?v=playlist.
  
    <h4>Downloading files</h4>
    <p>Files can be downloaded at http://{{ host }}/<i>tag</i>/<i>filename</i>.
  </div>
</div>

{% include "footer.html" %}

