{% include "header.html" %}

{% include "admin_nav.html" %}

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
 google.load('visualization', '1', {'packages': ['geomap']});
 google.setOnLoadCallback(drawMap);

  function drawMap() {
    var data = google.visualization.arrayToDataTable([
      ['Country', 'Active files'],
      {% for country in countries %}
        ['{{ country }}', '{{ countries[country] }}'],
      {% endfor %}
    ]);

    var options = {};
    options['dataMode'] = 'regions';
    options['height'] = '520';
    options['width'] = '834';

    var container = document.getElementById('map_canvas');
    var geomap = new google.visualization.GeoMap(container);
    geomap.draw(data, options);
};
</script>

{% if countries|count == 0 %}
  <p>When files are uploaded to the tag, this page will show a map of origin countries for the files.</p>
{% else %}
  <p>This graph shows from which countries in the world the different files in the tag are uploaded from.</p>
  <div id='map_canvas'></div>
{% endif %}

{% include "footer.html" %}

