{% include "header.html" %}

{% include "admin_nav.html" %}

{% if saved == 1 %}
  <div class="alert alert-success">
    The configuration has been updated.
  </div>
{% endif %}

<form role="form" method="POST" action="">
  <div class="form-group">
    <label>
      <label class="control-label" for="ttl">Time to live</label>
      <select name="ttl" class="form-control" id="ttl">
        <option value="0"
        {% if conf['ttl'] == 0 %}
          selected="selected"
        {% endif %}
        >Now, mark tag as already expired</option>
        <option value="1"
        {% if conf['ttl'] == 1 %}
          selected="selected"
        {% endif %}
        >One week, until {{ ttl_iso.oneweek }}</option>
        <option value="2"
        {% if conf['ttl'] == 2 %}
          selected="selected"
        {% endif %}
        >One month, until {{ ttl_iso.onemonth }} (default)</option>
        <option value="3"
        {% if conf['ttl'] == 3 %}
          selected="selected"
        {% endif %}
        >Six months, until {{ ttl_iso.sixmonths }}</option>
        <option value="4"
        {% if conf['ttl'] == 4 %}
          selected="selected"
        {% endif %}
        >One year, until {{ ttl_iso.oneyear }}</option>
      </select>
    </label>
      
    <p class="help-block">The files and the tag will be removed automatically if <i>time to live</i> is exceeded.</p>
  </div>
  
  <div class="form-group">
    <label class="control-label" for="expose">Expose</label>
    <div class="radio">
      <label>
        <input type="radio" name="expose" value="private" 
        {% if conf['expose'] == 'private' %}
          checked="checked"
        {% endif %}
        />Private (default)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="expose" value="public"
        {% if conf['expose'] == 'public' %}
          checked="checked"
        {% endif %}
        />Public
      </label>
    </div>
      
    <p class="help-block">Tags that are publicly exposed will show at the <a href="/download">download</a> page.</p>

  </div>

  <div class="form-group">
    <label class="control-label" for="preview">Image thumbnails</label>
    <div class="radio">
      <label>
        <input type="radio" name="preview" value="on"
        {% if conf['preview'] == 'on' %}
          checked="checked"
        {% endif %}
        />Show (default)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="preview" value="off"
        {% if conf['preview'] == 'off' %}
          checked="checked"
        {% endif %}
        />Do not show
      </label>
    </div>
 
    <p class="help-block">Thumbnails will not show immediately after upload as they are being created by a periodic batch process.</p>
  </div>

  <div class="form-group">
    <label class="control-label" for="permission">Permissions</label>
    <div class="radio">
      <label>
        <input type="radio" name="permission" value="rw"
        {% if conf['permission'] == 'rw' %}
          checked="checked"
        {% endif %}
        />Read/write (default)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="permission" value="ro"
        {% if conf['permission'] == 'ro' %}
          checked="checked"
        {% endif %}
        />Read only
      </label>
    </div>
      
    <p class="help-block">Permit or deny upload capability for everyone knowing the tag, including you.</p>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="/{{ tag }}" class="btn btn-default">Cancel</a>
  </div>
</form>

{% include "footer_nav.html" %}
{% include "footer.html" %}

