<div class="pull-left">
  {% if tag %}
    {% if num_files %}
      {% if num_files > 0 %}
        <a class="btn btn-small btn-info" href="/{{ tag }}?v=playlist">
          <span class="glyphicon glyphicon-film"></span> Playlist
        </a>
        <a class="btn btn-small btn-info" href="/{{ tag }}?v=json">
          <span class="glyphicon glyphicon-wrench"></span> JSON
        </a>
      {% endif %}
    {% endif %}
  {% endif %}
</div>

<div class="pull-right">
  {% if tag %}
    {% if num_files %}
      {% if num_files > 0 %}
        <a class="btn btn-small btn-danger" href="/{{ tag }}?v=report">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </a>
      {% endif %}
    {% endif %}
  {% endif %}

  <a class="btn btn-small btn-info" href="/about">
    <span class="glyphicon glyphicon-info-sign"></span>
  </a>
</div>
