<div class="hero-unit">
  <h1>Overview</h1>
</div>

<ul class="nav nav-tabs">
  {% if active == 'dashboard' %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/overview/dashboard">
      Dashboard
    </a>
  </li>
  {% if active == 'map' %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/overview/map">
      World map
    </a>
  </li>
  {% if active == 'logs' %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/overview/log">
      Logs
    </a>
  </li>
  {% if active == 'tags' %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/overview/tags">
      Tags
    </a>
  </li>
  {% if active == 'files' %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/overview/files">
      Files
    </a>
  </li>
</ul>
