{% include "header.html" %}

{% include "overview_nav.html" %}

<div class="row">
  <div class="span12">
    {% if data['reports']|count  == 0 %}
      <p>There are no tags reported for moderation.</p>
    {% else %}
      <h2>Last {{ data['reports']|count }} tags reported</h2>
      <table class="table table-bordered table-condensed">
      <tr>
        <thead>
          <th>Timestamp</th>
          <th>Tag</th>
          <th>Client</th>
          <th>Country</th>
          <th>Reason</th>
        </thead>
      </tr>
      {% for f in data['reports'] %}
        <tr>
          <td>{{ f.time }} UTC</td>
          <td><a href="/{{ f.tag }}">{{ f.tag }}</a></td>
          <td>{{ f.client }}</td>
          <td>
            {% if f.country %}
              {{ f.country }}
            {% endif %}
          </td>
          <td>{{ f.reason }}</td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Last {{ data['uploads']|count }} file uploads</h2>
    <table class="table table-bordered table-condensed">
    <tr>
      <thead>
        <th>Timestamp</th>
        <th>Tag</th>
        <th>Client</th>
        <th>Country</th>
        <th>Mime type</th>
        <th>Filename</th>
      </thead>
    </tr>
    {% for f in data['uploads'] %}
      <tr>
        <td>{{ f.time }} UTC</td>
        <td><a href="/{{ f.tag }}">{{ f.tag }}</a></td>
        <td>{{ f.client }}</td>
        <td>
          {% if f.country %}
            {{ f.country }}
          {% endif %}
        </td>
        <td>{{ f.mimetype }}</td>
        <td><a href="/{{ f.tag }}/file/{{ f.filename }}">{{ f.filename }}</a></td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h2>Last {{ data['tags']|count }} tags created</h2>
    <table class="table table-bordered table-condensed">
    <tr>
      <thead>
        <th>Timestamp</th>
        <th>Tag</th>
        <th>Client</th>
        <th>Country</th>
        <th>Files</th>
        <th>TTL</th>
      </thead>
    </tr>
    {% for f in data['tags'] %}
      <tr>
        <td>{{ f.time }} UTC</td>
        <td><a href="/{{ f.tag }}">{{ f.tag }}</a></td>
        <td>
          {% if f.client %}
            {{ f.client }}
          {% endif %}
        </td>
        <td>
          {% if f.country %}
            {{ f.country }}
          {% endif %}
        </td>
        <td>{{ f.files }}</td>
        <td>{% if f.days_left %}
               {{ f.days_left }} days
            {% else %}
               Expired
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>

<div class="row">
  <div class="span3">
    <h2>Totals</h2>
    <table class="table table-bordered table-condensed">
    <tr>
      <td>Number of tags:</td>
      <td>{{ data.totals.tags }}</td>
    </tr>
    <tr>
      <td>Number of files:</td>
      <td>{{ data.totals.files }}</td>
    </tr>
    <tr>
      <td>Disk space used by files:</td>
      <td>{{ data.totals.size }} GB</td>
    </tr>
    </table>
  </div>
</div>

{% include "footer.html" %}

