{% include "header.html" %}

{% include "overview_nav.html" %}

<div class="span1">
  <ul class="unstyled">
  {% for d in days %}
    <li>
    {% if d == date %}
      <span class="label label-info">{{ d }}</span>
    {% else %}
      <a href="/overview/log/{{ d }}"><span class="label">{{ d }}</span></a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

<div class="span10">
  <p>{{ log|count }} log entries found from {{ date }}.</p>
  
  {% if log|count > 0 %}
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Time</th>
        <th>Client</th>
        <th>Country</th>
        <th>Description</th>
        <th>Links</th>
      </tr>
    </thead>
    {% for l in log %}
      <tr>
        <td>{{ l.time }} UTC</td>
        <td>{{ l.client }}</td>
        <td>
          {% if l.country %}
            {{ l.country }}
          {% endif %}
        </td>
        <td>{{ l.description }}</td>
        <td>
          <ul>
          {% if l.tag %}
             <li>T: <a href="/{{ l.tag }}">{{ l.tag }}</a></li>
          {% endif %}
          {% if l.filename %}
             <li>F: <a href="/{{ l.tag }}/file/{{ l.filename }}">{{ l.filename }}</a></li>
          {% endif %}
          {% if l.referer %}
             <li>R: {{ l.referer }}</li>
          {% endif %}
          {% if l.useragent %}
             <li>U: {{ l.useragent }}</li>
          {% endif %}
          </ul>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
</div>

{% include "footer.html" %}

