{% include "header.html" %}

  <div class="jumbotron">
    <h1>Report tag</h1>
  </div>

  {% if submitted == 1%}
    <div class="alert alert-success">
      <strong>Thank you!</strong> Your report has been submitted, and will be handled as soon as possible.
    </div>
    <a href="/{{ tag }}">Go back</a>
  {% elif submitted == -1%}
    <div class="alert alert-danger">
      <strong>Ops!</strong> We failed to receive your report. Please try again later.
    </div>
    <a href="/{{ tag }}">Go back</a>
  {% else %}
    <p>You are about to report the tag <a href="/{{ tag }}">{{ tag }}</a> for moderation. Please explain below:</p>
    <form role="form" method="POST" action="">
      <div class="form-group">
        <textarea name="reason" rows="5" cols="80" placeholder="This tag should be moderated because ..."></textarea>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-danger btn-lg" value="Send report!"/> <a class="btn btn-primary btn-lg" href="/{{ tag }}">Cancel</a>
      </div>
    </form>
  {% endif %}

{% include "footer.html" %}
