{% include "header.html" %}

{% if conf['blocked'] %}
  <div class="jumbotron">
    <h1>Uh oh,</h1>
    <p>The tag you are trying to access has been blocked.</p>
  </div>

{% elif num_files == 0 %}
  <div class="jumbotron">
    <h1>Uh oh,</h1>
    <p>The tag you are trying to access does not contain any files.
    
      {% if conf['permission'] is defined and conf['permission'] != 'rw' %}
        The tag is read only.
      {% endif %}
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/">
        Go to the front page
      </a>
      {% if conf['permission'] == 'rw' or conf['permission'] is not defined %}
        <a class="btn btn-primary btn-lg" href="/upload/{{ tag }}">
          Upload files to this tag
        </a>
      {% endif %}
    </p>
  </div>
{% else %}
  <div class="jumbotron">
    {% if conf['expose'] == 'public' %}
      <h1>Public tag</h1>
    {% else %}
      <h1>Private tag</h1>
    {% endif %}

    <p>
      {% if num_files > 1 %}
        The {{ num_files }} files stored in tag {{ tag }} are listed below. 
      {% else %}
        The file stored in tag {{ tag }} is listed below. 
      {% endif %}

      {% if conf['permission'] == 'rw' %}
        You may upload more files to the tag.
      {% endif %}

      {% if valid_days %}
        {% if valid_days > 1 %}
          It will expire in {{ valid_days + 1 }} days.
        {% elif valid_days == 1 %}
          It will expire tomorrow.
        {% elif valid_days == 0 %}
          The tag will expire today.
        {% elif valid_days == -1 %}
          <!-- It will never expire. -->
        {% endif %}
      {% else %}
        It has already expired, and will be removed soon.
      {% endif %}
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/upload/">
        Upload files to a new tag
      </a>
      {% if conf['permission'] == 'rw' %}
        <a class="btn btn-primary btn-lg" href="/upload/{{ tag }}">
          Upload more files to this tag
        </a>
      {% endif %}
      <a class="btn btn-success btn-lg" href="/archive/{{ tag }}">
        Download {{ num_files }} files in one archive (zip)
      </a>
    </p>
  </div>

{% include "pages.html" %}

<div class="row">
  {% if conf['preview'] == 'on' %}
    <ul class="list-unstyled">
      {% for file in files %}
        {% if file.thumbnail %}
          <li class="col-md-3">
            <a href="/{{ tag }}/{{ file.filename }}" rel="tooltip" title="{{ file.filename }}{% if file.captured_iso %}, {{ file.captured_iso }}{% endif %}">
              <div class="thumbnail">
                <img class="img-responsive img-rounded" src="/thumbnails/{{ tag }}/{{ file.filename }}"/>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-md-3">File name</th>
      <th class="col-md-2">File type</th>
      <th class="col-md-2">File size</th>
      <th class="col-md-3">Uploaded at</th>
      {% if datetime_found %}
        <th class="col-md-3">Captured at</th>
      {% endif %}
    </thead>
    {% for file in files %}
      <tr>
        <td class="col-md-3"><a href="/{{ tag }}/{{ file.filename }}">{{ file.filename }}</a>
          {% if conf['preview'] == 'on' %}
            {% if file.thumbnail %}
              <span class="glyphicon glyphicon-camera" rel="tooltip" title="This file has a thumbnail."></span>
            {% endif %}
          {% endif %}
        </td>
        <td class="col-md-2">{{ file.mimetype }}</td>
        <td class="col-md-2">{{ file.size }} MB</td>
        <td class="col-md-3">{{ file.uploaded_iso }} UTC</td>
        {% if datetime_found %}
          <td class="col-md-3">
            {% if file.captured_iso %}
              {{ file.captured_iso }}
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  </div>
</div>

{% include "pages.html" %}

{% endif %}

{% include "footer_nav.html" %}
{% include "footer.html" %}

